:root {
  --background-color: hsl(220deg 0% 75% / 25%);
  --canvas: #fff;
  --canvas-text: hsl(220deg 0% 27%);
  --link-text: hsl(220deg 100% 27%);
}

:root {
  --serif: "Palatino", "Palatino Linotype", serif;
  --sans-serif: "Segoe UI", "Yu Gothic-", system-ui, "Hiragino Sans-", sans-serif;
  --monospace: "Menlo", "Consolas", "Hiragino Sans", "Yu Gothic-", monospace;
}

@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 100;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W0"), local("Hiragino Sans W0");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 200;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W1"), local("Hiragino Sans W1");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 300;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W2"), local("Hiragino Sans W2");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 400;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W3"), local("Hiragino Sans W3");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 500;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W4"), local("Hiragino Sans W4");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 600;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W5"), local("Hiragino Sans W5");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 700;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W6"), local("Hiragino Sans W6");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 800;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W7"), local("Hiragino Sans W7");
}
@font-face {
  font-family: "Hiragino Sans-";
  font-weight: 900;
  size-adjust: 92.3%;
  src: local("HiraginoSans-W8"), local("Hiragino Sans W8");
}
@font-face {
  font-family: "Yu Gothic-";
  font-weight: 100;
  size-adjust: 92.3%;
  src: local("Yu Gothic Light");
}
@font-face {
  font-family: "Yu Gothic-";
  font-weight: 200;
  size-adjust: 92.3%;
  src: local("Yu Gothic Regular");
}
@font-face {
  font-family: "Yu Gothic-";
  font-weight: 400;
  size-adjust: 92.3%;
  src: local("Yu Gothic Medium");
}
@font-face {
  font-family: "Yu Gothic-";
  font-weight: 700;
  size-adjust: 92.3%;
  src: local("Yu Gothic Bold");
}
blockquote {
  overflow: auto;
  border-inline-start: 0.2em solid hsla(0, 0%, 55%, 0.55);
  margin: 1em 0;
  padding-inline: 1em;
}
blockquote p {
  margin: 0.5em 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--canvas-text);
  font-family: var(--sans-serif);
}

a {
  color: var(--link-text);
  text-decoration: none;
}
a:hover {
  color: hsl(from var(--link-text) h calc(1.5 * s) l);
  text-decoration: underline;
}

ul, ol {
  padding-inline-start: 1.8em;
  margin-block: 0.5em;
}
li ul, li ol {
  margin-block: 0;
}

li {
  margin-block: 0.25em;
}
li li, li p {
  margin-block: 0.2em;
}

ul:has(> li > input[type=checkbox]), ul:has(> li > p > input[type=checkbox]) {
  list-style-type: none;
}
ul > li > input[type=checkbox], ul > li > p > input[type=checkbox] {
  margin-inline-start: -1.5em;
}

dl {
  margin-block: 0.5em;
}

dt {
  font-weight: bold;
  margin-block: 0.5em 0;
}

dd {
  margin-block: 0.1em;
  margin-inline-start: 1em;
  position: relative;
}
dd p {
  margin-block: 0.1em;
}
dd::before {
  content: ":";
  position: absolute;
  left: -0.9em;
  opacity: 0.3;
}

code, pre {
  font-family: var(--monospace);
}

:not(pre) > code {
  font-size: 0.85em;
  padding: 0.1em 0.2em;
  background-color: hsla(0, 0%, 60%, 0.1);
  white-space: pre-wrap;
}

pre {
  font-size: 0.85em;
  background-color: hsla(0, 0%, 73%, 0.25);
  padding: 0.375rem 0.5rem;
  margin-block: 0.3rem;
  overflow-x: auto;
}
pre.chroma {
  background-color: hsla(0, 0%, 73%, 0.04);
  box-shadow: inset 0 0 0.4rem hsla(0, 0%, 73%, 0.25);
}
.highlight:has(+ pre) > pre {
  margin-block-end: 0;
}
.highlight + pre {
  margin-block-start: 0;
  opacity: 0.9;
}

blockquote {
  padding-inline-start: 2.4em;
}
blockquote::before {
  content: "“";
  color: hsla(0, 0%, 55%, 0.55);
  font-family: serif;
  font-size: 2em;
  margin: 0 -1.6rem -4rem;
  float: left;
}

table {
  border-spacing: 0.4em;
}

th, td {
  padding-inline: 0.4em;
}

th {
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid hsla(0, 0%, 55%, 0.55);
  text-align: start;
}

kbd {
  font-family: var(--sans-serif);
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75em;
  padding: 0.04em 0.24em;
  margin: -0.16em 0.08em 0 0.04em;
  box-shadow: 0.04em 0.06em 0.1em var(--canvas-text);
  border: solid 0.06em hsla(0, 0%, 55%, 0.55);
  border-radius: 0.18em;
}

sub, sup {
  line-height: 1;
}

figcaption {
  contain: inline-size;
}

figure {
  margin-block: 0.5em;
  margin-inline: 0;
  width: fit-content;
}
figure:has(blockquote) {
  margin-block: 1em;
  border-inline-start: 0.2rem solid hsla(0, 0%, 55%, 0.55);
}
figure:has(blockquote) figcaption {
  padding-block: 0.5em;
  padding-inline: 2.4rem 1rem;
}
figure > blockquote {
  border-inline-start: none;
}
figure > blockquote:has(+ figcaption) {
  margin-block-end: -0.5em;
}
figure > figcaption + blockquote {
  margin-block-start: -0.5em;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  margin-block: 0.7em;
}

ol {
  padding-inline-start: 1.5em;
}

ul {
  padding-inline-start: 1.3em;
}

li {
  margin-block: 0.5em;
}
li li, li p {
  margin-block: 0.4em;
}

figure:has(img) {
  line-height: 1;
}
figure:has(img) figcaption {
  text-align: right;
}

pre {
  font-size: 0.78em;
  line-height: 1.35;
}
pre.chroma {
  line-height: 1.4;
}

aside {
  opacity: 0.5;
}

cite {
  font-synthesis: none;
}

small {
  font-size: 0.7em;
  opacity: 0.5;
}
small:hover {
  opacity: 0.6;
}
small a {
  color: inherit;
}

h1 {
  font-size: 1.4rem;
  margin-block: 0 0.5rem;
  margin-inline: -1.6rem;
  padding: 0.8rem 0.8rem;
  border-inline-start: 0.8rem solid #aaa;
}

h2 {
  font-size: 1.4rem;
  margin-block: 0 0.5rem;
  margin-inline: -1.6rem;
  padding: 0.4rem 0.8rem;
  border-inline-start: 0.8rem solid #ccc;
}

h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

.bubble {
  position: relative;
  font-size: 0.92em;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background: rgba(153, 153, 153, 0.4);
}
.bubble::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.5em;
  height: 0.5em;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background: rgba(153, 153, 153, 0.4);
}
.bubble[class~=flipY]::after {
  bottom: unset;
  top: -0.5em;
  transform: scaleY(-1);
}
.bubble[class~=flipX]::after {
  transform: translateX(-0.5em) scaleX(-1);
}
.bubble[class~=left20]::after {
  left: 20%;
}
.bubble[class~=left30]::after {
  left: 30%;
}
.bubble[class~=left40]::after {
  left: 40%;
}
.bubble[class~=left60]::after {
  left: 60%;
}
.bubble[class~=left70]::after {
  left: 70%;
}
.bubble[class~=left80]::after {
  left: 80%;
}

.chroma {
  /* Keyword */
  /* Constant, Type, NameSpace */
  /* Builtin, Exception, Label, Tag */
  /* Variable */
  /* Class, Function */
  /* LiteralNumber */
  /* LiteralString */
  /* Comment */
}
.chroma .n,
.chroma .o,
.chroma .p {
  opacity: 0.95;
}
.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .kt,
.chroma .ow {
  color: #56B4E9;
}
.chroma .kc,
.chroma .no,
.chroma .nd,
.chroma .ni,
.chroma .nn {
  color: #0072B2;
}
.chroma .nb,
.chroma .bp,
.chroma .ne,
.chroma .nl,
.chroma .nt {
  color: #009E73;
}
.chroma .na,
.chroma .nx,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: #D55E00;
}
.chroma .nc,
.chroma .nf,
.chroma .fm {
  color: #E69F00;
}
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #CC79A7;
}
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: #CC79A7;
}
.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  opacity: 0.66;
}
.chroma .ge {
  font-style: italic;
}
.chroma .gh,
.chroma .gu,
.chroma .gs {
  font-weight: bold;
}
.chroma .gl {
  text-decoration: underline;
}
.chroma .gi {
  background-color: rgba(0, 255, 0, 0.1333333333);
}
.chroma .gd {
  background-color: rgba(255, 0, 0, 0.1333333333);
}
.chroma .hl {
  background-color: rgba(255, 255, 0, 0.2);
}
.chroma .gr,
.chroma .go,
.chroma .gp,
.chroma .gt,
.chroma .err,
.chroma .w,
.chroma .x {
  font-style: italic;
}
.chroma .ln {
  margin-inline-end: 1em;
}
.chroma .ln,
.chroma .lnt {
  user-select: none;
  color: rgba(136, 136, 136, 0.4);
}
.chroma .lnt,
.chroma .line {
  display: block;
}
.chroma .lntd {
  vertical-align: top;
}
.chroma .lntd:first-child {
  width: 2em;
}
.chroma .lntd:first-child pre {
  box-shadow: none;
}
.chroma .lntd,
.chroma .lntable {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
}
.chroma .lntable {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.readmore {
  padding-block: 0.3em;
  padding-inline: 0.7em;
  border-radius: 0.2em;
  opacity: 0.45;
  color: var(--canvas);
  background-color: var(--canvas-text);
}
.readmore:hover {
  opacity: 0.5;
  color: var(--canvas);
  text-decoration: none;
}
.readmore::after {
  content: "❯";
  color: var(--canvas);
  margin-inline-start: 0.6em;
}

section:first-of-type h1 a {
  color: var(--canvas-text);
}
section:first-of-type ol li {
  margin-block: 0;
}

.author {
  font-weight: 600;
  font-size: 1.1rem;
  margin-block: 1rem 0.2rem;
}

.affiliation {
  font-size: 0.9rem;
  margin-block: 0.2rem 1rem;
  opacity: 0.75;
}

.footnote {
  margin-block: 1rem 0;
}

.current-deck {
  font-weight: bold;
}
.current-deck::after {
  content: "👈";
}

.screenshot {
  margin: -24px -30px;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.column {
  flex: 1 1 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.4;
}

main {
  background-color: var(--canvas);
  box-shadow: 0 0 12px #999;
  max-width: 720px;
  min-height: 100%;
  margin: 0 auto;
  padding: 3rem;
}

hr {
  margin: 2rem;
}