@charset "UTF-8";
:root {
  --emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  --serif: "Palatino Linotype", Palatino, serif, var(--emoji);
  --sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic Medium", "Source Han Sans JP", sans-serif, var(--emoji);
  --monospace: Menlo, Consolas, "DejaVu Sans Mono", "Yu Gothic Medium", monospace, var(--emoji);
  --main-font-family: var(--sans-serif);
  --heading-font-family: var(--sans-serif);
  --background-color: #eee;
  --foreground-color: #fff;
  --main-color: #444;
  --heading-color: var(--main-color);
}

.chroma .err,
.chroma .w,
.chroma .n,
.chroma .o,
.chroma .p {
  color: #444;
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .ow {
  color: #d73a49;
}

.chroma .kc,
.chroma .kt,
.chroma .no,
.chroma .nd,
.chroma .ni,
.chroma .nn,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: #005cc5;
}

.chroma .na,
.chroma .nc,
.chroma .nf,
.chroma .nv,
.chroma .nx {
  color: #6f42c1;
}

.chroma .nb,
.chroma .bp,
.chroma .ne,
.chroma .nl,
.chroma .nt {
  color: #22863a;
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: #032f62;
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #005cc5;
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #6a737d;
}

.chroma .ge {
  font-style: italic;
}

.chroma .gs {
  font-weight: bold;
}

.chroma .gh,
.chroma .gu {
  color: #000;
}

.chroma .gd,
.chroma .gr,
.chroma .gi,
.chroma .go,
.chroma .gp,
.chroma .gt,
.chroma .x {
  color: #d70;
}

.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

body {
  background-color: var(--background-color);
}

a {
  color: #0042ab;
  text-decoration: none;
}

a:hover {
  opacity: 0.86;
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--heading-color);
}

p {
  margin: 0.7rem 0;
}

ol {
  margin: 0.7rem 0;
  padding-inline-start: 1.5rem;
}

ul {
  margin: 0.7rem 0;
  padding-inline-start: 1.3rem;
}

ul.task-list {
  list-style-type: none;
  padding-inline-start: 0;
}

ul.task-list ul.task-list {
  padding-inline-start: 1rem;
}

li {
  margin-block: 0.5rem;
}

li ul {
  margin: 0;
}

li li {
  margin-block: 0.4rem;
}

li p {
  margin-block: 0.4em;
}

dl {
  margin: 0.7rem 0;
}

dl dt {
  font-weight: bold;
  margin-block-start: 0.6rem;
}

dl dd {
  margin-block: 0.3em;
  margin-inline: 1em 0;
  line-height: 1.3em;
  position: relative;
}

dl dd p {
  margin-block: 0.3em;
}

dl dd::before {
  content: ":";
  color: #ccc;
  position: absolute;
  left: -0.8em;
}

blockquote {
  font-style: italic;
  margin: 1em 0.1em;
  padding: 0.2em 1.4em 0.1em;
  border-inline-start: solid 0.2em #ccc;
  position: relative;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: -0.3rem;
  left: 0.3rem;
  font-size: 2.4rem;
  font-family: var(--serif);
  color: #999;
}

table {
  border-spacing: 1em 1ex;
}

table thead th {
  border-bottom: 0.05rem solid var(--main-color);
}

cite {
  color: #777;
  font-size: 0.7rem;
}

cite a {
  color: inherit;
}

figure {
  display: inline-block;
  margin: 1rem 0;
  line-height: 1;
}

figcaption {
  text-align: right;
}

em {
  font-style: italic;
}

pre,
code,
kbd {
  font-family: var(--monospace);
}

code {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.08rem 0.16rem;
  font-size: 0.87em;
}

pre {
  background-color: #f3f3f3;
  padding: 0.5rem;
  margin: -0.6rem 0 0.6rem;
  font-size: 0.9rem;
  line-height: 1.2;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

pre.chroma {
  background-color: #e3e3e3;
  margin-block-start: 0.2rem;
}

kbd {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75rem;
  padding: 0.04rem 0.16rem;
  margin: -0.16rem 0.08rem 0 0;
  box-shadow: 0.04rem 0.04rem 0.04rem #808080;
  border: solid 0.04rem #ccc;
  border-radius: 0.12rem;
}

aside {
  opacity: 0.5;
}

h1 {
  font-size: 1.4rem;
  margin: 0 -1.6rem;
  padding: 0.8rem 0.8rem;
  border-inline-start: 0.8rem solid #aaa;
}

h2 {
  font-size: 1.4rem;
  margin: 0 -1.6rem;
  padding: 0.4rem 0.8rem;
  border-inline-start: 0.8rem solid #ccc;
}

h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

section:first-of-type h1 a {
  color: var(--heading-color);
}

section:first-of-type ol li {
  margin-block: 0;
}

.author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1rem 0 0.3rem;
}

.affiliation {
  font-size: 0.9rem;
  margin: 0.3rem 0 1rem;
  opacity: 0.75;
}

.footnote {
  margin: 1rem 0;
}

.current-deck {
  font-weight: bold;
}

.current-deck::after {
  content: "👈";
}

.github {
  color: var(--main-color);
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.url {
  color: #777;
  font-size: 0.45rem;
}

.url a {
  color: inherit;
}

.readmore {
  padding: 0.3em 1.8em 0.3em 0.8em;
  border-radius: 0.2em;
  font-weight: normal;
  color: #fff;
  background-color: #aaa;
  position: relative;
}

.readmore:hover {
  background-color: var(--main-color);
  text-decoration: none;
}

.readmore::after {
  content: "❯";
  position: absolute;
  right: 0.5em;
  color: #fff;
}

.screenshot {
  margin: -24px -30px;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.column {
  flex: 1 1 100%;
}

.katex {
  font-size: 1.12em;
}

.katex-display > .katex {
  text-align: left;
  padding-inline-start: 2rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--main-color);
  margin: 0;
  line-height: 1.4;
  font-family: var(--main-font-family);
}

main {
  background-color: var(--foreground-color);
  box-shadow: 0 0 12px #999;
  max-width: 720px;
  min-height: 100%;
  margin: 0 auto;
  padding: 3rem;
}

hr {
  margin: 2rem;
}
