.author {
  margin-block-end: 0;
}

.affiliation {
  margin-block-start: 0;
}

figure {
  margin: 0;
}

.reveal .slides section .fragment.blur {
  opacity: inherit;
  visibility: inherit;
  filter: blur(7px);
}

.reveal .slides section .fragment.blur.visible {
  filter: none;
}
