.reveal .slides section .fragment.blur {
  opacity: inherit;
  visibility: inherit;
  filter: blur(8px);
}

.reveal .slides section .fragment.blur.visible {
  filter: none;
}

figure {
  margin: 0;
}
