/* safari-only */
@supports (hanging-punctuation: first) and
  (font: -apple-system-body) and
  (-webkit-appearance: none) {
  /* for projectors with poor contrast */
  :not(pre) > code,
  pre {
    background-color: oklch(60% 0 0deg / 0.25);
  }

  pre.chroma {
    box-shadow: inset 0 0 0.3rem oklch(60% 0 0deg / 0.25);
    background-color: oklch(65% 0 0deg / 0.2);
  }
}
